.bg-img {
    background: url("../../../images/bannerbackground.png");
    background-color: #f3f1eb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

/* responsive */
@media only screen and (max-width:576px) {
    h1{
        font-size: 22px;
        
    }
    .searchField {
        width: 80% ;
        margin: 0 auto;
    }
}